<div{{ attributes}}>

  <div class="shopCart-con dsc-cm">
    <a href="{{ url }}">
      <i class="iconfont icon-carts"></i>
      <span>{{ 'My cart'|t }}</span>
      <em class="count cart_num">{{ count}}</em>
    </a>
  </div>
  
  <div class="dorpdown-layer" ectype="dorpdownLayer">
    <div class="settleup-content">
      <div class="mc">
        {{ content }}
      </div>
      <div class="mb">
        <input name="cart_value" id="cart_value" value="47,48" type="hidden">
        <div class="p-total">共3件商品&nbsp;&nbsp;共计：8900.00</div>
        <a href="flow.php" class="btn-cart">去购物车</a>
      </div>
    </div>
  </div>
  
  
</div>
